/01.BasicSyntaxConditionalStatementsAndLoops-Lab/.vs/Basic Syntax, Cond.Statements and Loops - Lab/DesignTimeBuild/*.v2
/01.BasicSyntaxConditionalStatementsAndLoops-Lab/.vs/Basic Syntax, Cond.Statements and Loops - Lab/v16/.suo
/01.BasicSyntaxConditionalStatementsAndLoops-Lab/01.StudentInformation/bin/Debug/netcoreapp3.1/*.json
/01.BasicSyntaxConditionalStatementsAndLoops-Lab/01.StudentInformation/bin/Debug/netcoreapp3.1/*.dll
/01.BasicSyntaxConditionalStatementsAndLoops-Lab/01.StudentInformation/bin/Debug/netcoreapp3.1/*.exe
/01.BasicSyntaxConditionalStatementsAndLoops-Lab/01.StudentInformation/bin/Debug/netcoreapp3.1/*.pdb
/01.BasicSyntaxConditionalStatementsAndLoops-Lab/01.StudentInformation/obj/*.json
/01.BasicSyntaxConditionalStatementsAndLoops-Lab/01.StudentInformation/obj/*.props
/01.BasicSyntaxConditionalStatementsAndLoops-Lab/01.StudentInformation/obj/*.targets
/01.BasicSyntaxConditionalStatementsAndLoops-Lab/01.StudentInformation/obj/Debug/netcoreapp3.1
/01.BasicSyntaxConditionalStatementsAndLoops-Lab/01.StudentInformation/obj/*.cache
/01.BasicSyntaxConditionalStatementsAndLoops-Lab/02.Passed/bin/Debug/netcoreapp3.1/*.json
/01.BasicSyntaxConditionalStatementsAndLoops-Lab/02.Passed/bin/Debug/netcoreapp3.1/*.dll
/01.BasicSyntaxConditionalStatementsAndLoops-Lab/02.Passed/bin/Debug/netcoreapp3.1/*.exe
/01.BasicSyntaxConditionalStatementsAndLoops-Lab/02.Passed/bin/Debug/netcoreapp3.1/*.pdb
/01.BasicSyntaxConditionalStatementsAndLoops-Lab/02.Passed/obj/*.json
/01.BasicSyntaxConditionalStatementsAndLoops-Lab/02.Passed/obj/*.props
/01.BasicSyntaxConditionalStatementsAndLoops-Lab/02.Passed/obj/*.targets
/01.BasicSyntaxConditionalStatementsAndLoops-Lab/13.HolidaysBetweenTwoDates/obj/Debug/netcoreapp3.1
/01.BasicSyntaxConditionalStatementsAndLoops-Lab/13.HolidaysBetweenTwoDates/bin/Debug/netcoreapp3.1
/01.BasicSyntaxConditionalStatementsAndLoops-Lab/12.EvenNumber/obj/Debug/netcoreapp3.1
/01.BasicSyntaxConditionalStatementsAndLoops-Lab/02.Passed/obj/Debug/netcoreapp3.1
/01.BasicSyntaxConditionalStatementsAndLoops-Lab/02.Passed/obj
/01.BasicSyntaxConditionalStatementsAndLoops-Lab/03.PassedOrFailed/bin/Debug/netcoreapp3.1
/01.BasicSyntaxConditionalStatementsAndLoops-Lab/03.PassedOrFailed/obj
/01.BasicSyntaxConditionalStatementsAndLoops-Lab/04.BackIn30Minutes/bin/Debug/netcoreapp3.1
/01.BasicSyntaxConditionalStatementsAndLoops-Lab/04.BackIn30Minutes/obj
/01.BasicSyntaxConditionalStatementsAndLoops-Lab/05.MonthPrinter/bin/Debug/netcoreapp3.1
/01.BasicSyntaxConditionalStatementsAndLoops-Lab/05.MonthPrinter/obj
/01.BasicSyntaxConditionalStatementsAndLoops-Lab/06.ForeignLanguages/bin/Debug/netcoreapp3.1
/01.BasicSyntaxConditionalStatementsAndLoops-Lab/06.ForeignLanguages/obj
/01.BasicSyntaxConditionalStatementsAndLoops-Lab/07.TheatrePromotion/bin/Debug/netcoreapp3.1
/01.BasicSyntaxConditionalStatementsAndLoops-Lab/07.TheatrePromotion/obj
/01.BasicSyntaxConditionalStatementsAndLoops-Lab/08.DivisibleBy3/bin/Debug/netcoreapp3.1
/01.BasicSyntaxConditionalStatementsAndLoops-Lab/08.DivisibleBy3/obj
/01.BasicSyntaxConditionalStatementsAndLoops-Lab/09.SumOfOddNumbers/bin/Debug/netcoreapp3.1
/01.BasicSyntaxConditionalStatementsAndLoops-Lab/09.SumOfOddNumbers/obj
/01.BasicSyntaxConditionalStatementsAndLoops-Lab/10.MultiplicationTable/bin/Debug/netcoreapp3.1
/01.BasicSyntaxConditionalStatementsAndLoops-Lab/10.MultiplicationTable/obj
/01.BasicSyntaxConditionalStatementsAndLoops-Lab/11.MultiplicationTable2.0/bin/Debug/netcoreapp3.1
/01.BasicSyntaxConditionalStatementsAndLoops-Lab/11.MultiplicationTable2.0/obj
/01.BasicSyntaxConditionalStatementsAndLoops-Lab/12.EvenNumber/bin/Debug/netcoreapp3.1
/01.BasicSyntaxConditionalStatementsAndLoops-Lab/12.EvenNumber/obj
/01.BasicSyntaxConditionalStatementsAndLoops-Lab/13.HolidaysBetweenTwoDates/obj
/02.BasicSyntaxConditionalStatementsAndLoops-Exe/.vs/Basic Syntax, Cond. Statements and Loops - Exe.MoreExe/v16/.suo
/02.BasicSyntaxConditionalStatementsAndLoops-Exe/01.Ages/obj/Debug/netcoreapp3.1/*.cache
/02.BasicSyntaxConditionalStatementsAndLoops-Exe/01.Ages/obj/*.props
/02.BasicSyntaxConditionalStatementsAndLoops-Exe/01.Ages/bin/Debug/netcoreapp3.1/*.dll
/02.BasicSyntaxConditionalStatementsAndLoops-Exe/01.Ages/bin/Debug/netcoreapp3.1/*.exe
/02.BasicSyntaxConditionalStatementsAndLoops-Exe/01.Ages/bin/Debug/netcoreapp3.1/*.pdb
/02.BasicSyntaxConditionalStatementsAndLoops-Exe/01.Ages/bin/Debug/netcoreapp3.1/*.json
/02.BasicSyntaxConditionalStatementsAndLoops-Exe/01.Ages/obj/*.targets
/02.BasicSyntaxConditionalStatementsAndLoops-Exe/01.Ages/obj/Debug/netcoreapp3.1/*.dll
/02.BasicSyntaxConditionalStatementsAndLoops-Exe/01.Ages/obj/Debug/netcoreapp3.1/*.exe
/02.BasicSyntaxConditionalStatementsAndLoops-Exe/01.Ages/obj/Debug/netcoreapp3.1/*.txt
/02.BasicSyntaxConditionalStatementsAndLoops-Exe/01.Ages/obj/*.cache
/02.BasicSyntaxConditionalStatementsAndLoops-Exe/02.Division/bin/Debug/netcoreapp3.1
/02.BasicSyntaxConditionalStatementsAndLoops-Exe/01.Ages/obj/Debug/netcoreapp3.1
/02.BasicSyntaxConditionalStatementsAndLoops-Exe/01.Ages/obj/*.json
/02.BasicSyntaxConditionalStatementsAndLoops-Exe/.vs/Basic Syntax, Cond. Statements and Loops - Exe.MoreExe/DesignTimeBuild/*.v2
/02.BasicSyntaxConditionalStatementsAndLoops-Exe/02.Division/obj
/02.BasicSyntaxConditionalStatementsAndLoops-Exe/03.Vacation/bin/Debug/netcoreapp3.1/*.json
/02.BasicSyntaxConditionalStatementsAndLoops-Exe/03.Vacation/bin/Debug/netcoreapp3.1/*.dll
/02.BasicSyntaxConditionalStatementsAndLoops-Exe/03.Vacation/bin/Debug/netcoreapp3.1/*.exe
/02.BasicSyntaxConditionalStatementsAndLoops-Exe/03.Vacation/bin/Debug/netcoreapp3.1/*.pdb
/02.BasicSyntaxConditionalStatementsAndLoops-Exe/03.Vacation/obj/Debug/netcoreapp3.1
/02.BasicSyntaxConditionalStatementsAndLoops-Exe/03.Vacation/obj
/02.BasicSyntaxConditionalStatementsAndLoops-Exe/04.PrintАndСum/bin/Debug/netcoreapp3.1
/02.BasicSyntaxConditionalStatementsAndLoops-Exe/04.PrintАndСum/obj
/02.BasicSyntaxConditionalStatementsAndLoops-Exe/05.Login/bin/Debug/netcoreapp3.1
/02.BasicSyntaxConditionalStatementsAndLoops-Exe/05.Login/obj
/02.BasicSyntaxConditionalStatementsAndLoops-Exe/06.StrongNumber/bin/Debug/netcoreapp3.1
/02.BasicSyntaxConditionalStatementsAndLoops-Exe/06.StrongNumber/obj
/02.BasicSyntaxConditionalStatementsAndLoops-Exe/07.VendingMachine/bin/Debug/netcoreapp3.1
/02.BasicSyntaxConditionalStatementsAndLoops-Exe/07.VendingMachine/obj
/02.BasicSyntaxConditionalStatementsAndLoops-Exe/08.TriangleOfNumbers/bin/Debug/netcoreapp3.1
/02.BasicSyntaxConditionalStatementsAndLoops-Exe/08.TriangleOfNumbers/obj
/02.BasicSyntaxConditionalStatementsAndLoops-Exe/09.PadawanEquipment/bin/Debug/netcoreapp3.1
/02.BasicSyntaxConditionalStatementsAndLoops-Exe/09.PadawanEquipment/obj
/02.BasicSyntaxConditionalStatementsAndLoops-Exe/10.RageExpenses/bin/Debug/netcoreapp3.1
/02.BasicSyntaxConditionalStatementsAndLoops-Exe/10.RageExpenses/obj/Debug/netcoreapp3.1
/02.BasicSyntaxConditionalStatementsAndLoops-Exe/10.RageExpenses/obj
/02.BasicSyntaxConditionalStatementsAndLoops-Exe/*.sln
/03.BasicSyntaxConditionalStatementsAndLoops-MoreExercise/01.SortNumbers/bin/Debug/netcoreapp3.1
/03.BasicSyntaxConditionalStatementsAndLoops-MoreExercise/01.SortNumbers/obj
/03.BasicSyntaxConditionalStatementsAndLoops-MoreExercise/02.EnglishNameOfTheLastDigit/bin/Debug/netcoreapp3.1
/03.BasicSyntaxConditionalStatementsAndLoops-MoreExercise/02.EnglishNameOfTheLastDigit/obj
/03.BasicSyntaxConditionalStatementsAndLoops-MoreExercise/03.GamingStore/bin/Debug/netcoreapp3.1
/03.BasicSyntaxConditionalStatementsAndLoops-MoreExercise/03.GamingStore/obj
/03.BasicSyntaxConditionalStatementsAndLoops-MoreExercise/04.ReverseString/bin/Debug/netcoreapp3.1
/03.BasicSyntaxConditionalStatementsAndLoops-MoreExercise/04.ReverseString/obj
/03.BasicSyntaxConditionalStatementsAndLoops-MoreExercise/05.Messages/bin/Debug/netcoreapp3.1
/03.BasicSyntaxConditionalStatementsAndLoops-MoreExercise/05.Messages/obj
