/01.BasicSyntaxConditionalStatementsAndLoops-Lab/.vs/Basic Syntax, Cond.Statements and Loops - Lab/DesignTimeBuild/*.v2
/01.BasicSyntaxConditionalStatementsAndLoops-Lab/.vs/Basic Syntax, Cond.Statements and Loops - Lab/v16/.suo
/01.BasicSyntaxConditionalStatementsAndLoops-Lab/01.StudentInformation/bin/Debug/netcoreapp3.1/*.json
/01.BasicSyntaxConditionalStatementsAndLoops-Lab/01.StudentInformation/bin/Debug/netcoreapp3.1/*.dll
/01.BasicSyntaxConditionalStatementsAndLoops-Lab/01.StudentInformation/bin/Debug/netcoreapp3.1/*.exe
/01.BasicSyntaxConditionalStatementsAndLoops-Lab/01.StudentInformation/bin/Debug/netcoreapp3.1/*.pdb
/01.BasicSyntaxConditionalStatementsAndLoops-Lab/01.StudentInformation/obj/*.json
/01.BasicSyntaxConditionalStatementsAndLoops-Lab/01.StudentInformation/obj/*.props
/01.BasicSyntaxConditionalStatementsAndLoops-Lab/01.StudentInformation/obj/*.targets
/01.BasicSyntaxConditionalStatementsAndLoops-Lab/01.StudentInformation/obj/Debug/netcoreapp3.1
/01.BasicSyntaxConditionalStatementsAndLoops-Lab/01.StudentInformation/obj/*.cache
/01.BasicSyntaxConditionalStatementsAndLoops-Lab/02.Passed/bin/Debug/netcoreapp3.1/*.json
/01.BasicSyntaxConditionalStatementsAndLoops-Lab/02.Passed/bin/Debug/netcoreapp3.1/*.dll
/01.BasicSyntaxConditionalStatementsAndLoops-Lab/02.Passed/bin/Debug/netcoreapp3.1/*.exe
/01.BasicSyntaxConditionalStatementsAndLoops-Lab/02.Passed/bin/Debug/netcoreapp3.1/*.pdb
/01.BasicSyntaxConditionalStatementsAndLoops-Lab/02.Passed/obj/*.json
/01.BasicSyntaxConditionalStatementsAndLoops-Lab/02.Passed/obj/*.props
/01.BasicSyntaxConditionalStatementsAndLoops-Lab/02.Passed/obj/*.targets
/01.BasicSyntaxConditionalStatementsAndLoops-Lab/13.HolidaysBetweenTwoDates/obj/Debug/netcoreapp3.1
/01.BasicSyntaxConditionalStatementsAndLoops-Lab/13.HolidaysBetweenTwoDates/bin/Debug/netcoreapp3.1
/01.BasicSyntaxConditionalStatementsAndLoops-Lab/12.EvenNumber/obj/Debug/netcoreapp3.1
/01.BasicSyntaxConditionalStatementsAndLoops-Lab/02.Passed/obj/Debug/netcoreapp3.1
/01.BasicSyntaxConditionalStatementsAndLoops-Lab/02.Passed/obj
/01.BasicSyntaxConditionalStatementsAndLoops-Lab/03.PassedOrFailed/bin/Debug/netcoreapp3.1
/01.BasicSyntaxConditionalStatementsAndLoops-Lab/03.PassedOrFailed/obj
/01.BasicSyntaxConditionalStatementsAndLoops-Lab/04.BackIn30Minutes/bin/Debug/netcoreapp3.1
/01.BasicSyntaxConditionalStatementsAndLoops-Lab/04.BackIn30Minutes/obj
/01.BasicSyntaxConditionalStatementsAndLoops-Lab/05.MonthPrinter/bin/Debug/netcoreapp3.1
/01.BasicSyntaxConditionalStatementsAndLoops-Lab/05.MonthPrinter/obj
/01.BasicSyntaxConditionalStatementsAndLoops-Lab/06.ForeignLanguages/bin/Debug/netcoreapp3.1
/01.BasicSyntaxConditionalStatementsAndLoops-Lab/06.ForeignLanguages/obj
/01.BasicSyntaxConditionalStatementsAndLoops-Lab/07.TheatrePromotion/bin/Debug/netcoreapp3.1
/01.BasicSyntaxConditionalStatementsAndLoops-Lab/07.TheatrePromotion/obj
/01.BasicSyntaxConditionalStatementsAndLoops-Lab/08.DivisibleBy3/bin/Debug/netcoreapp3.1
/01.BasicSyntaxConditionalStatementsAndLoops-Lab/08.DivisibleBy3/obj
/01.BasicSyntaxConditionalStatementsAndLoops-Lab/09.SumOfOddNumbers/bin/Debug/netcoreapp3.1
/01.BasicSyntaxConditionalStatementsAndLoops-Lab/09.SumOfOddNumbers/obj
/01.BasicSyntaxConditionalStatementsAndLoops-Lab/10.MultiplicationTable/bin/Debug/netcoreapp3.1
/01.BasicSyntaxConditionalStatementsAndLoops-Lab/10.MultiplicationTable/obj
/01.BasicSyntaxConditionalStatementsAndLoops-Lab/11.MultiplicationTable2.0/bin/Debug/netcoreapp3.1
/01.BasicSyntaxConditionalStatementsAndLoops-Lab/11.MultiplicationTable2.0/obj
/01.BasicSyntaxConditionalStatementsAndLoops-Lab/12.EvenNumber/bin/Debug/netcoreapp3.1
/01.BasicSyntaxConditionalStatementsAndLoops-Lab/12.EvenNumber/obj
/01.BasicSyntaxConditionalStatementsAndLoops-Lab/13.HolidaysBetweenTwoDates/obj
